<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-text color="secondary">
      <div class="heading">Ezee Jobs</div>
    </ion-text></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="presentAlertConfirm(form)">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <div class="ion-text-center">
          <h4>You have applied for a job </h4>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-md="6" offset-md="3">
              <ion-card>
                  <ion-card-header>
                      <ion-card-title>Apply For This Job</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-text color="danger">
                      <div class="Congratulations">Hi sir,</div>
                      </ion-text>
                      <ion-text>
                        <div class="int">    
                          I would love be a part of the organization. If you  are impressed with my profile Please get back to me. Looking forward to work with your organization.
                        </div>
                        <div class="regards">
                          Regards
                        </div>    
                      </ion-text>
                    <ion-button class="ion-margin-vertical" type ='submit' color="success" size='default'>
                      Send Application
                    </ion-button>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>