<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-text color="secondary">
      <div class="heading">Ezee Jobs</div>
    </ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder = "search jobs by role,hotel name,location"  enterkeyhint="enter" [(ngModel)] ="this.test" (keyup.enter)="ionViewDidEnter() || this.search_state=false" (ionClear)="this.search_state=false && ionViewDidEnter()" (ionFocus)="this.search_state=true" ></ion-searchbar>
  <div *ngIf="this.search_state == true">
    <ion-list>    
      <ion-list-header>
        <div class="text">Search For Specific Hotel to see if they have vacancies: <br> Eg: Taj Hotel</div>>
        </ion-list-header>
        <div class="or">OR</div>
      <ion-list-header>
      <div class="text">Search For Specific Location <br> Eg: HSR Layout</div>
      </ion-list-header>
      <div class="or">OR</div>      
      <ion-list-header>
        To Change the Searching profession you must edit your area of choice in your profile
      </ion-list-header>       
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col  offset="5" >
        <div *ngIf = '!this.results_job || !this.results_job[0]'>
          <div *ngIf = '!this.empty'>
            <ion-spinner name="lines" color="secondary" ></ion-spinner>
          </div>
          <div *ngIf = 'this.empty' >
            No Employees avaiable for this post at the moment Please try again later.
          </div>
        </div>
      </ion-col>
      <ion-col size-md="6" offset-md="3">
        <div *ngIf = 'this.results_job'>
          <ion-card *ngFor = " let result of this.results_job; let i = index" (click)=" this.search_state = false">
            <ion-card-header color="light">
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="briefcase" size ="large"></ion-icon>
                </ion-col>
                <ion-col size="6">
                  <ion-card-title>
                    {{ result.job_post }}
                  </ion-card-title>
                  <ion-card-subtitle >
                  {{ result.eyer_name }}<br>
                  </ion-card-subtitle>
                </ion-col>
                <ion-col offset="1" size="2"  >
                  <ion-icon (click)='like(result.id, i)' *ngIf='selectedIndex.includes(result.id) == false' name="heart-outline" size ="large"></ion-icon>
                  <ion-icon (click)='dislike(result.id) ' *ngIf='selectedIndex.indexOf(result.id) !== -1' name="heart" size ="large" ></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                  Monthly Salary:<b> {{ result.job_salary }} </b>
              </ion-item>
              <ion-item>
                  Requried Experince:<b> {{ result.job_experience }} </b>
              </ion-item>
              <ion-item>
                  Requried Employment:<b> {{ result.job_employment }}</b>
              </ion-item>
              <ion-item>
                  Requried Skills:<b> {{ result.job_skills}} </b>
              </ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button  (click)='presentAlertCallNow(result.eyer_number)' expand="block" color="success">Call Now</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button  [routerLink] = "['./', result.id]" (click)='update(result.id)' color="secondary" expand="block">View Details</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
