.heading{
    text-align: center;
    font-size: 40px;
    font-style: initial;  
  }
  .body{
    color: black;
  }
  .head{
    color: #868585;
    font-size: 12px;
  }
  .ans{
    color: black;
  }
  .ques{
    color: #868585;
    font-size: 12px;
  }
  .img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .null{
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    color: red;
    padding-top: 20px;
  }